.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightgreen;
}

.container div {
    width: 24%;
    background-color: blueviolet;
    color: black;
    padding: 10px;
    margin: 5px;
    justify-content: space-around;
    box-sizing: border-box;
}

img {
    /* transition: 0.3s; */
    filter: grayscale(23%)
}
img:hover{
    filter:blur(0)
}
.fff {
    height: 200px;
    width: 400px;
    background-color: #eeeeee;
    position:relative;
    margin: 20px ;
    padding: 10px;

}
.fff::before{
    content:"";
    position:absolute;
    top:-10px;
    left:0;
    height:10px;
    width:100%;
    background-color:rgb(255, 0, 0);
    background-image: linear-gradient(to right,#234321 30%,#0a9c3b 30%,#0a9c3b 50%,#ababab 50%,#ababab 80%,red 80%);

}
.fff::after{
    content:"";
    position:absolute;
    bottom:-10px;
    left:0;
    height:22px;
    width:100%;
    background-color:rgb(255, 0, 0);
    background-image: linear-gradient(to right,red 20%,#ababab 20%,#ababab 50%,#0a9c3b 50%,#0a9c3b 70%,#234321 70%);

}

.grid{
    display:giid;
    grid-template-columns:repeat(3. 1fr);
    grid-template-rows: 100px 200px;
    gap:10px;
}