.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightgreen;
}

.container div {
    width: 24%;
    background-color: blueviolet;
    color: black;
    padding: 10px;
    margin: 5px;
    justify-content: space-around;
    box-sizing: border-box;
}

img {
    /* transition: 0.3s; */
    filter: invert(23)
}
img:hover{
    filter:blur(0)
}
.fff {
    height: 200px;
    width: 400px;
    background-color: #cc0e0e;
    position:relative;
    margin: 20px auto;
    padding: 10px;
    background-image: linear-gradient(to right,#234321,#acacac,#ababab);

}
.fff::before{
    content:"";
    position:absolute;
    top:-10;
    left:0;
    height:100%;
    width:100%;
    background-color:blue;
}