.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightgreen;
}

.container div{
    width: 24%;
    background-color: blueviolet;
    color:black;
    padding: 10px;
    margin: 5px;
    justify-content: space-around;
    box-sizing: border-box;
}